<html>
<body>
<h1>{{ category.title }}</h1>
	<a href="{{ parent.url }}">Go back to {{ parent.title }}</a>
<ul>
	{% for child_category in child_categories %}
	<li><a href="{{ child_category.url }}">{{ child_category.title }}</a></li>
	{% endfor %}
	{% for image in images %}
	<li><a href="{{ image.url }}">{{ image.title }}</a></li>
	{% endfor %}
</ul>
</body>
</html>
