<html>
<body>
<h1>{{ image.title }}</h1>
	<div><a href="{{ category_url }}">Go back to category</a></div>
	{%  set link_idx = 0 if current_thumbnail_idx else 1 %}
	{% if thumbnails|length > 1 %}<a href="{{ thumbnails[link_idx].image_url }}">{% endif %}
	<img src="{{ thumbnails[current_thumbnail_idx].thumbnail_url }}" alt="{{ image.title }}" />
	{% if thumbnails|length > 1 %}</a>{% endif %}
	<p>
	{% for thumbnail in thumbnails %}
		{% if thumbnail == thumbnails[current_thumbnail_idx] %}
		<strong>{{ thumbnail.width }}x{{ thumbnail.height }}{{ ' (Cropped)' if thumbnail.crop else '' }}</strong>
		{% else %}
		<a href="{{ thumbnail.image_url }}">{{ thumbnail.width }}x{{ thumbnail.height }}{{ ' (Cropped)' if thumbnail.crop else '' }}</a>
		{% endif %}
	{% endfor %}
	{% if image.width and image.height %}
		<a href="{{ image.file.url }}">{{ image.width }}x{{ image.height }} (download full format)</a>
	{% endif %}
	</p>
	<p>{{ image.description }}</p>
	<dl>
		<dt>Views:</dt><dd>{{ image.views }}</dd>
	</dl>
</body>
</html>
